@charset "UTF-8";
#contentLayer {
position:fixed;
top:150px; left:30px;
box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px, rgba(0,0,0,0.5) 2px 2px 3px 3px;
z-index : 100;
overflow: hidden;
}
#contentDiv{
	overflow: hidden;
}
#contentLayer{
	overflow: hidden;
}
#reportList{
	overflow: hidden;
}
#table{
	overflow: hidden;
}